@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');

/* body {
  font-family: 'Work Sans', sans-serif;
  background: #111;
} */

/* div {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 5em auto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  color: blue;
} */

.random-word {
  display: inline-block;
  /* text-transform: uppercase; */
  /* color: red; */
  text-align: center;
  letter-spacing: 3px;
  width: 700px;
  /* transition: all 1.25s; */
  animation: slidedown 4s infinite;
  -webkit-animation: slidedown 4s infinite;
  -moz-animation: slidedown 4s infinite;
}

@keyframes slidedown {
  0% {
    opacity: 50;
  }
  
  5% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  
  7% {
    transform: translateY(-1em);
  }
  
  10% {
    opacity: 0;
  }
  
  20% {
    transform: translateY(0);
    opacity: 100;
  }
}

.logo {
  width: 12%;
}

.sango-nav { 
  margin-left: 12px !important;
}

.technology-container {
  /* height: 440px; */
}